<template>
    <div class="loading">
        <div class="loading__inner loading__inner--trans-bg">
            <span></span><span></span><span></span>
        </div>
    </div>
</template>

<style lang="scss">
.loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.loading__inner--trans-bg {
    background: rgba(255, 255, 255, 0.9);
}

.loading__inner {
    $time: 1s;
    $size: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #555;
    padding: 0;
    margin: 0;
    > span {
        display: inline-block;
        background: #222;
        border-radius: 50%;
        animation: loader-anim $time infinite ease-in-out;
        width: $size;
        height: $size;
        margin: $size/2;
        &:nth-of-type(2) {
        animation-delay: $time*(1/3);
        }
        &:nth-of-type(3) {
        animation-delay: $time*(2/3);
        }
    }
}

@keyframes loader-anim {
    0%,
    100% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 0.9;
        transform: scale(1.2);
    }
}
</style>
