/* HEADER */
body {
  background: #ffffff;
  color: #877d82;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
body.fixed {
  overflow: hidden !important;
}

a {
  transition: color .2s ease-in;
  color: #95b063;
}
a:hover {
  color: #5f733a;
}

::selection {
  background: #95b063;
}

::-moz-selection {
  background: #95b063;
}

h2 {
  color: #4d3542;
  font-weight: 600;
  font-size: 40px;
}
@media (max-width: 425px) {
  h2 {
    font-size: 30px;
  }
}

b {
  color: #4d3542;
  font-weight: 500;
}

.btn {
  border-radius: 0;
  font-size: 14px;
}
.btn.btn-small {
  font-size: 12px;
  font-weight: 600;
}
.btn.btn-lg {
  font-size: 12px;
  font-weight: 600;
  padding: 1.2rem 1rem;
  max-width: 100%;
}
.btn.btn-radius {
  border-radius: 1.25rem;
}

.btn-primary {
  background-color: #95b063;
  border-color: #7b954b;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #5f733a;
  border-color: #435129;
}

.btn-primary:hover {
  background-color: #7b954b;
  border-color: #5f733a;
}

.btn-transparent {
  background: transparent;
  border: solid 2px #FFF;
  color: #FFF;
}
.btn-transparent:hover, .btn-transparent:active, .btn-transparent.active {
  color: #FFF;
}

.lead {
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 25px;
  position: relative;
}

.form-group > label {
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: 10px;
  text-transform: uppercase;
  background: #FFF;
  width: 95%;
  padding: 8px 15px;
  margin: 0;
  z-index: 25;
}

.form-control {
  font-size: 14px;
  color: #4d3542;
  border-radius: 0;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.07);
  padding: 30px 15px 15px 15px;
}
.form-control.wpcf7-not-valid {
  border-color: #f00;
}

.form-control:focus {
  box-shadow: none;
  border-color: #d5d071;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

textarea.form-control {
  min-height: 115px;
}

.hidden-checkbox {
  position: absolute;
  opacity: 0;
}
.hidden-checkbox + .wpcf7-not-valid-tip {
  display: none;
}

.wpcf7 span.wpcf7-not-valid-tip {
  margin-top: 5px;
  font-size: 12px;
}

input.invalid + label::before {
  border: 1px solid #f00;
}

.wpcf7 div.wpcf7-response-output {
  margin-top: 5px;
  padding: 10px;
  border-width: 1px;
  font-size: 12px;
}

.checkbox {
  padding-left: 40px;
}

.checkbox label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 5px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0;
  margin-left: -38px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0;
  top: 0;
  margin-left: -38px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 15px;
  text-align: center;
  text-indent: -3px;
  line-height: 28px;
  cursor: pointer;
  color: #555555;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 600;
  color: #aea851;
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.radio {
  padding-left: 20px;
}

.radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}

.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.07);
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #aea851;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
  opacity: 0;
}

.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

.radio.inline {
  display: inline-block;
}

.dropdown-wrapper {
  width: 100%;
}

.ae-dropdown {
  position: relative;
  z-index: 10;
  height: 60px;
  margin-bottom: 10px;
}

.dropdown-wrapper .ae-select {
  padding: 8px;
  padding-top: 25px;
  position: relative;
  border: none;
  height: 60px;
  background: #FFF;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);
}

.dropdown-wrapper .ae-select.chosen {
  color: #333;
}

.dropdown-wrapper .ae-select label {
  position: absolute;
  top: 8px;
  left: 8px;
}

.dropdown-wrapper .ae-select .down-icon, .ae-select .up-icon {
  position: absolute;
  right: 10px;
  top: 25px;
  color: #aea851;
}

.dropdown-wrapper .ae-dropdown .dropdown-list {
  list-style-type: none;
  background: #FFFFFF;
  border-radius: 0px;
  margin: 0px;
  padding: 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);
}
.dropdown-wrapper .ae-dropdown .dropdown-list li {
  padding: 10px;
}
.dropdown-wrapper .ae-dropdown .dropdown-list li:hover {
  background: #fbfaf1;
}

.dropdown-wrapper .ae-dropdown .ae-select, .dropdown-wrapper .ae-dropdown .dropdown-list > li {
  cursor: pointer;
}

.dropdown-wrapper .ae-dropdown .dropdown-list > li > a:focus, .dropdown-wrapper .ae-dropdown .dropdown-list > li > a:hover {
  background: none;
}

.dropdown-wrapper .ae-disabled {
  pointer-events: none;
}

.ae-hide {
  display: none;
}

#nav-burger {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 20px auto;
  margin-top: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
@media (max-width: 425px) {
  #nav-burger {
    margin-right: 0;
  }
}

#nav-burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #95b063;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-burger span:nth-child(1) {
  top: 0px;
}

#nav-burger span:nth-child(2), #nav-burger span:nth-child(3) {
  top: 8px;
}

#nav-burger span:nth-child(4) {
  top: 17px;
}

#nav-burger.open span:nth-child(1) {
  top: 17px;
  width: 0%;
  left: 50%;
}

#nav-burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-burger.open span:nth-child(4) {
  top: 17px;
  width: 0%;
  left: 50%;
}

header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  height: 85px;
  line-height: 85px;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 10;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
@media (max-width: 400px) {
  header {
    height: auto;
  }
}
header .header__logo-wrapper {
  width: 15%;
  margin-right: 2%;
}
header .header__logo-wrapper img {
  max-width: 100%;
  max-height: 65px;
}
@media (max-width: 1270px) {
  header .header__logo-wrapper {
    width: 13%;
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  header .header__logo-wrapper {
    width: 40%;
  }
}
@media (max-width: 425px) {
  header .header__logo-wrapper {
    width: 50%;
  }
}
header .header__menu-wrapper {
  width: 55%;
  text-align: center;
}
@media (max-width: 1270px) {
  header .header__menu-wrapper {
    width: 71%;
  }
}
@media (max-width: 768px) {
  header .header__menu-wrapper {
    width: 20%;
  }
}
@media (max-width: 425px) {
  header .header__menu-wrapper {
    width: 50%;
    text-align: right;
  }
}
header .header__menu-wrapper .header__link {
  display: none;
  text-align: right;
  padding-bottom: 10px;
  margin-top: -20px;
}
@media (max-width: 400px) {
  header .header__menu-wrapper .header__link {
    display: block;
  }
}
header .header__phone-btn {
  width: 25%;
  margin-left: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1270px) {
  header .header__phone-btn {
    width: 15%;
    margin-left: 1%;
  }
}
@media (max-width: 1024px) {
  header .header__phone-btn {
    justify-content: flex-end;
    width: 16%;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  header .header__phone-btn {
    width: 40%;
  }
}
@media (max-width: 425px) {
  header .header__phone-btn {
    display: none;
  }
}
header .header__phone {
  color: #4d3542;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}
header .header__phone:hover {
  text-decoration: none;
}
@media (max-width: 1270px) {
  header .header__phone {
    font-size: 20px;
  }
  header .header__phone span {
    display: none;
  }
}
@media (max-width: 1024px) {
  header .header__phone {
    display: none;
  }
}
header .header__btn-wrapper {
  display: block;
  text-align: center;
}
header .header__btn-wrapper .btn {
  display: block;
}
header .header__link {
  margin-top: 5px;
  display: block;
  text-align: center;
  line-height: 1;
}

footer {
  padding: 50px 0;
  background: #FFF;
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 12px;
  color: #4d3542;
  font-weight: 500;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
footer .footer__phone {
  color: #4d3542;
  font-size: 16px;
  text-decoration: none !important;
}
footer .footer__links-row {
  margin-top: 10px;
}
footer .footer__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footer__menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
.menu a {
  color: #4d3542;
  font-size: 12px;
  font-weight: 500;
}
.menu a:hover {
  text-decoration: none;
  color: #7b954b;
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu-mob {
  height: 0;
  width: 100%;
  padding-top: 0;
  overflow: hidden;
  position: fixed;
  background: #FFF;
  z-index: 9;
  top: 0;
  left: 0;
  transition: all .3s ease-out;
}
.menu-mob ul {
  margin: 0 0 0 25px;
  padding: 0;
  display: flex;
  font-size: 28px;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  list-style: none;
}
.menu-mob.active {
  height: 100vh;
  padding-top: 105px;
}

.header__menu-mob-trigger {
  display: none;
}
@media (max-width: 768px) {
  .header__menu-mob-trigger {
    display: inline;
  }
}

#fullpage > .section {
  padding-top: 95px;
}

@media (max-width: 1024px) {
  .fp-section,
  .fp-slide,
  .fp-tableCell {
    height: auto !important;
  }

  #fullpage > .section {
    padding-top: 30px;
  }
}
ul.benefits {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
ul.benefits li {
  background: url("/images/check-circle.png") 0 0 no-repeat;
  padding-left: 24px;
  padding-top: 2px;
  margin-bottom: 20px;
}

.highlite-block {
  background-color: #f8f7e7;
}

.form-container {
  color: #4d3542;
  background: #f8f7e7;
  padding: 70px;
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .form-container {
    padding: 30px;
  }
}

#callme .form-container, #complaint .form-container {
  margin-bottom: 0px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.flowplayer-video {
  display: block;
}

.flowplayer-video video {
  width: 100%;
  display: block;
}

.modal {
  display: none;
  max-width: 800px;
  padding: 0;
}

#welcome {
  background: url("/images/section-1-bg.jpg");
  background-size: cover;
  background-position: center;
  color: #FFF;
}
@media (max-width: 1024px) {
  #welcome {
    background-position: left center;
    padding-top: 95px !important;
    padding-bottom: 30px;
  }
}
#welcome h1 {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
#welcome .lead {
  margin-top: 15px;
  margin-bottom: 40px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
}
#welcome .complex-name {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 20%;
  margin-top: 5%;
}
#welcome .complex-name .complex-name__subname {
  font-size: 12px;
  font-weight: 300;
}
#welcome .complex-name .complex-name__icon {
  float: left;
  margin-right: 27px;
  bottom: 10px;
  position: relative;
}

#about_complex {
  position: relative;
}
#about_complex .highlite-block {
  width: 100%;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  padding: 35px 0;
  color: #4d3542;
  font-weight: 500;
  font-size: 12px;
}
@media (max-width: 1024px) {
  #about_complex .highlite-block {
    position: static;
  }
}
#about_complex .highlite-block img {
  display: block;
  margin-bottom: 15px;
}
#about_complex .highlite-block .col {
  margin-top: 10px;
}
#about_complex .highlite-block .row {
  margin-top: -10px;
}
#about_complex .about_complex__video {
  width: 45%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
#about_complex .about_complex__video:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("/images/section-2-bg.jpg") no-repeat center;
  background-size: cover;
  transition: transform .4s ease-out;
}
#about_complex .about_complex__video:hover:before {
  transform: scale(1.05);
}
@media (max-width: 990px) {
  #about_complex .about_complex__video {
    width: 35%;
  }
}
@media (max-width: 768px) {
  #about_complex .about_complex__video {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
#about_complex .about_complex__video-inline {
  display: none;
}
@media (max-width: 768px) {
  #about_complex .about_complex__video-inline {
    display: block;
  }
}
#about_complex .about_complex__video-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 215px;
  height: 165px;
  color: #FFF;
  margin-left: -108px;
  margin-top: -30px;
  text-align: center;
  font-size: 12px;
  padding-top: 110px;
}
@media (max-width: 768px) {
  #about_complex .about_complex__video-content {
    margin-top: -65px;
  }
}
#about_complex .about_complex__btn {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 90px;
  height: 90px;
  background: rgba(255, 255, 255, 0.4);
  margin-left: -45px;
  text-align: center;
  border-radius: 50%;
  color: #FFF !important;
  line-height: 90px;
  font-size: 27px;
  text-indent: 3px;
  transition: transform .2s ease-out;
}
#about_complex .about_complex__video:hover .about_complex__btn {
  transform: scale(1.1);
}
#about_complex .about_complex__video .about_complex__btn i {
  transition: text-shadow .15s ease-out;
}
#about_complex .about_complex__video:hover .about_complex__btn i {
  text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.2);
}

#flats {
  background: url("/images/section-5-bg.jpg");
  background-size: cover;
  background-position: center;
  color: #FFF;
}
@media (max-width: 1024px) {
  #flats {
    padding-bottom: 30px;
  }
}
#flats h2 {
  color: #FFF;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
#flats .highlite-block {
  width: calc(100% - 70px);
  margin-left: 35px;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  padding: 35px 0;
  color: #4d3542;
  font-weight: 500;
  font-size: 12px;
}
@media (max-width: 1024px) {
  #flats .highlite-block {
    position: static;
  }
}
@media (max-width: 425px) {
  #flats .highlite-block {
    padding-bottom: 10px;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}
#flats .highlite-block img {
  display: block;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  #flats .highlite-block img {
    float: left;
    margin-right: 10px;
  }
}
#flats .benefits-wrap {
  width: calc(50% - 35px);
  background: #FFF;
  padding: 45px;
  position: absolute;
  bottom: 0;
  right: 35px;
  color: #877d82;
  z-index: 1;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.07);
}
@media (max-width: 1024px) {
  #flats .benefits-wrap {
    position: static;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) {
  #contacts {
    padding-top: 0 !important;
  }
}
#contacts-map {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: hidden;
}
@media (max-width: 1024px) {
  #contacts-map {
    position: static;
    min-height: 550px;
  }
}

#feedback-form {
  background: url("/images/section-3-bg.jpg");
  background-size: cover;
  background-position: center;
  color: #FFF;
}
#feedback-form h2 {
  color: #FFF;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
#feedback-form .lead {
  margin-top: 15px;
  margin-bottom: 40px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
}

#calc {
  background: url("/images/section-4-bg.jpg");
  background-size: cover;
  background-position: center;
  color: #FFF;
}
@media (max-width: 1024px) {
  #calc {
    padding-bottom: 30px;
  }
}
#calc h2 {
  color: #FFF;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
#calc .banks-list {
  margin: 20px 0 40px;
  align-items: center;
  justify-content: center;
}
#calc .banks-list div {
  margin-top: 20px;
}
#calc .banks-list img {
  max-width: 100%;
  height: auto;
  opacity: 0.7;
  position: relative;
}
#calc .calc-wrapper {
  position: relative;
  background: #f8f7e7;
  padding: 60px 60px 30px 60px;
  color: #4d3542;
  width: 80%;
}
@media (max-width: 1024px) {
  #calc .calc-wrapper {
    width: 100%;
    padding: 30px;
  }
}
#calc .calc-wrapper .calc-sliders {
  width: 65%;
}
@media (max-width: 1024px) {
  #calc .calc-wrapper .calc-sliders {
    width: 100%;
  }
}
#calc .calc-wrapper .calc-param {
  margin-bottom: 20px;
}
#calc .calc-wrapper .calc-value {
  color: #4d3542;
  font-size: 24px;
  font-weight: 500;
}
#calc .calc-wrapper .calc-label {
  font-weight: 500;
}
#calc .calc-wrapper .calc-label .description {
  font-size: 12px;
  color: #877d82;
}
#calc .calc-wrapper .calc-result {
  background: #ffffff;
  padding: 60px;
  width: 365px;
  position: absolute;
  top: 70px;
  right: -135px;
  text-align: center;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.07);
}
#calc .calc-wrapper .calc-result .result {
  font-size: 32px;
  font-weight: 600;
  margin: 10px 0 0 0;
}
@media (max-width: 1024px) {
  #calc .calc-wrapper .calc-result {
    position: relative;
    width: calc(100% + 60px);
    top: 30px;
    left: -30px;
    padding: 30px;
  }
}

#rewards {
  background: url("/images/section-6-bg.jpg");
  background-size: cover;
}
@media (max-width: 1024px) {
  #rewards {
    padding-bottom: 30px;
  }
}
#rewards h2 {
  color: #FFF;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
#rewards .rewards-wrap {
  background: #FFF;
  width: 44%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 85px;
  padding-bottom: 90px;
}
@media (max-width: 1024px) {
  #rewards .rewards-wrap {
    position: static;
    width: 100%;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}
#rewards .rewards-wrap h3 {
  height: 65px;
  line-height: 65px;
  padding: 0 40px;
  font-size: 18px;
  color: #4d3542;
  border-bottom: solid 1px #efeee3;
}
#rewards .rewards-wrap .bottom-line {
  position: absolute;
  width: 100%;
  background: #f8f7e7;
  bottom: 0;
  left: 0;
  padding: 30px 40px;
  color: #4d3542;
  font-weight: 500;
}
@media (max-width: 1024px) {
  #rewards .rewards-wrap .bottom-line {
    position: static;
  }
}
#rewards .docs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#rewards .docs-list li {
  padding: 40px;
  position: relative;
}
#rewards .docs-list li:after {
  display: block;
  height: 1px;
  width: calc(100% - 80px);
  content: "";
  background: #efeee4;
  position: absolute;
  bottom: 0;
  left: 40px;
}
#rewards .docs-list li:last-child:after {
  display: none;
}
#rewards .docs-list .docs-list__preview {
  float: left;
  border-right: solid 2px #FFF;
  border-bottom: solid 2px #FFF;
  margin-right: 28px;
  margin-bottom: 28px;
  box-shadow: 2px 2px 0px #aea851;
}

#carousel {
  background: #f8f7e7;
  padding: 135px 0 50px 0 !important;
  overflow: hidden;
}
@media (max-width: 1024px) {
  #carousel {
    padding-top: 60px !important;
  }
}
#carousel .carousel-container .caption {
  background: #FFF;
  padding: 30px;
  max-width: 460px;
  z-index: 1;
  position: absolute;
  top: -25px;
  left: 35px;
  color: #4d3542;
  font-weight: 500;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.07);
}
@media (max-width: 990px) {
  #carousel .carousel-container .caption {
    position: static;
    width: 100%;
    max-width: 100%;
  }
}
#carousel .carousel-container .caption.bottom {
  bottom: -25px;
  right: 67px;
  left: auto;
  top: auto;
}
@media (max-width: 990px) {
  #carousel .carousel-container .caption.bottom {
    position: static;
  }
}
#carousel .carousel-container .caption b {
  font-weight: 600;
}
#carousel .carousel-container .caption .carousel__toleft, #carousel .carousel-container .caption .carousel__toright {
  position: absolute;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #95b063;
  color: #FFF;
  text-align: center;
  line-height: 45px;
  top: 25px;
  right: 30px;
  outline: none;
}
#carousel .carousel-container .caption .carousel__toleft {
  right: 83px;
}
#carousel .carousel-container .caption__title {
  font-size: 18px;
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  #carousel .carousel-container .caption__title {
    padding-right: 100px;
  }
}
#carousel .carousel-container .slick-slide {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}
#carousel .carousel-container .slick-slide img {
  max-width: 100%;
  max-height: 80vh;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 1024px) {
  #carousel .carousel-container .slick-slide img {
    min-height: 80vh;
  }
}
#carousel .carousel-container .slick-list {
  margin-left: -20px;
  margin-right: -20px;
  overflow: visible;
}

#gallery {
  padding-top: 0 !important;
}
#gallery .img-holder {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
#gallery .gallery-tabs {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 768px) {
  #gallery .gallery-tabs {
    height: 100px;
  }
}
#gallery .gallery-tabs .container {
  display: flex;
}
@media (max-width: 768px) {
  #gallery .gallery-tabs .container {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
#gallery .gallery-tabs a {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  flex-grow: 1;
  background: #f8f7e7;
  color: #4d3542;
  font-weight: 500;
  text-decoration: none !important;
  position: relative;
}
@media (max-width: 768px) {
  #gallery .gallery-tabs a {
    width: 33.3%;
    flex-grow: 1;
  }
}
#gallery .gallery-tabs a.active {
  height: 70px;
  line-height: 70px;
  background: #FFF;
  bottom: 20px;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.07);
}
@media (max-width: 768px) {
  #gallery .gallery-tabs a.active {
    height: 50px;
    line-height: 50px;
    bottom: auto;
  }
}
#gallery .gallery-tabs a:hover {
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.07);
}
#gallery .tabs-content .tab {
  display: none;
}
#gallery .tabs-content .tab.active {
  display: block;
}
#gallery .gallery-header {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 105px;
  left: 0;
}
@media (max-width: 1024px) {
  #gallery .gallery-header {
    top: 20px;
  }
}
#gallery .gallery-header h2 {
  color: #FFF;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
#gallery .gallery-header .gallery-nav-toleft, #gallery .gallery-header .gallery-nav-toright {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px #FFF;
  text-align: center;
  line-height: 50px;
  color: #FFF !important;
  text-decoration: none !important;
  font-size: 23px;
  margin: 0 5px;
}
@media (max-width: 375px) {
  #gallery .gallery-header .gallery-nav-wrap {
    text-align: center;
  }
}
#gallery .gallery-header .request-btn {
  margin-right: 30px;
  height: 50px;
  line-height: 32px;
  border-radius: 25px;
  vertical-align: top;
}
@media (max-width: 768px) {
  #gallery .gallery-header .request-btn {
    margin-right: 10px;
  }
}
@media (max-width: 375px) {
  #gallery .gallery-header .request-btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
#gallery .gallery-header .request-btn i {
  margin-right: 5px;
}

#flat-select {
  padding-top: 0 !important;
}
#flat-select .tabs-content {
  height: 100%;
}
#flat-select .tabs-content .tab {
  height: 100%;
}
#flat-select .main-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
#flat-select .corpus1 {
  position: absolute;
  width: 135px;
  height: 337px;
  /*background: url('/images/outline-corpus-1.png') 0 0;*/
  z-index: 1;
  top: 227px;
  left: 218px;
  /*&:hover{
  	background: url('/images/outline-corpus-1_hover.png') 0 0;
  }*/
}
#flat-select .corpus2 {
  position: absolute;
  width: 143px;
  height: 363px;
  /*background: url('/images/outline-corpus-2.png') 0 0;*/
  z-index: 1;
  top: 200px;
  left: 400px;
  /*&:hover{
  	background: url('/images/outline-corpus-2_hover.png') 0 0;
  }*/
}
#flat-select .corpus3 {
  position: absolute;
  width: 155px;
  height: 397px;
  		/*background: url('/images/outline-corpus-3.png') 0 0;/*
  		z-index: 1;
      	top: 173px;
      	left: 607px;
  
      	/*&:hover{
      		background: url('/images/outline-corpus-3_hover.png') 0 0;
      	}*/
}
#flat-select .corpus3 .corpus3-fllor16 {
  display: block;
  width: 146px;
  height: 23px;
  position: absolute;
  top: 154px;
  left: 5px;
  background: url("/images/floor-hover.png") 0 0;
  opacity: 0;
}
#flat-select .corpus3 .corpus3-fllor16:hover {
  opacity: 1;
}
#flat-select .corpus3 .tooltip {
  left: 17px !important;
}
#flat-select #corpus1-svg {
  overflow: hidden;
  position: absolute;
  left: 179px;
  top: 192px;
  height: 945px;
  width: 498px;
  transform: scale(0.45);
  transform-origin: 0 0;
  z-index: 3;
}
#flat-select #corpus1-svg path {
  opacity: 0 !important;
  transition: opacity .2s linear;
}
#flat-select #corpus1-svg path:hover {
  opacity: 0.6 !important;
}
#flat-select #corpus2-svg {
  overflow: hidden;
  position: absolute;
  left: 358px;
  top: 159px;
  height: 945px;
  width: 498px;
  transform: scale(0.48);
  transform-origin: 0 0;
  z-index: 2;
}
#flat-select #corpus2-svg path {
  opacity: 0 !important;
  transition: opacity .2s linear;
}
#flat-select #corpus2-svg path:hover {
  opacity: 0.6 !important;
}
#flat-select #corpus3-svg {
  overflow: hidden;
  position: absolute;
  left: 560px;
  top: 129px;
  height: 945px;
  width: 498px;
  transform: scale(0.53);
  transform-origin: 0 0;
  z-index: 1;
}
#flat-select #corpus3-svg path {
  opacity: 0 !important;
  transition: opacity .2s linear;
}
#flat-select #corpus3-svg path:hover {
  opacity: 0.6 !important;
}
#flat-select #corpus4-svg {
  overflow: hidden;
  position: absolute;
  left: 783px;
  top: 73px;
  height: 640px;
  width: 490px;
  transform: scale(0.94);
  transform-origin: 0 0;
  z-index: 4;
}
#flat-select #corpus4-svg path {
  opacity: 0 !important;
  transition: opacity .2s linear;
}
#flat-select #corpus4-svg path:hover {
  opacity: 0.6 !important;
}
#flat-select .corpus4 {
  position: absolute;
  width: 393px;
  height: 470px;
  /*background: url('/images/outline-corpus-4.png') 0 0;*/
  z-index: 1;
  top: 134px;
  left: 826px;
  /*&:hover{
  	background: url('/images/outline-corpus-4_hover.png') 0 0;
  }*/
}
#flat-select .tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 25px;
  background: #FFF;
  font-size: 14px;
  color: #4d3542;
  font-weight: 600;
  opacity: 1;
  z-index: 5;
}
#flat-select .tooltip:before {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  top: 60px;
  left: 50%;
  margin-left: -6px;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #ffffff transparent transparent transparent;
}
#flat-select .tooltip.show {
  display: block;
}
#flat-select .flat-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 25px;
  background: #FFF;
  font-size: 14px;
  color: #4d3542;
  font-weight: 600;
  opacity: 1;
  z-index: 15;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-100%);
}
#flat-select .flat-tooltip:before {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  top: 60px;
  left: 50%;
  margin-left: -6px;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #ffffff transparent transparent transparent;
}
#flat-select .flat-tooltip.show {
  display: block;
  transform: translate(25%, -110%);
}
#flat-select .detail-window {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  background: #FFF;
  z-index: 12;
  padding-top: 85px;
  padding-left: 40px;
  transition: all .4s ease-in-out;
}
@media (max-width: 1024px) {
  #flat-select .detail-window {
    display: none;
  }
}
#flat-select .detail-window.opened {
  right: -30%;
}
#flat-select .detail-window .floor-mode {
  display: block;
}
#flat-select .detail-window .flat-mode {
  display: none;
}
#flat-select .detail-window .detail-window__head {
  position: relative;
  height: 80px;
  padding-top: 40px;
  font-weight: 600;
  font-size: 18px;
}
#flat-select .detail-window .detail-window__close-btn,
#flat-select .detail-window .detail-flat__close-btn {
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 35%;
  top: 50px;
  z-index: 15;
  transition: all .2s ease-in;
}
#flat-select .detail-window .detail-window__close-btn::before, #flat-select .detail-window .detail-window__close-btn::after,
#flat-select .detail-window .detail-flat__close-btn::before,
#flat-select .detail-window .detail-flat__close-btn::after {
  content: '';
  position: absolute;
  height: 2px;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #c7bd2e;
}
#flat-select .detail-window .detail-window__close-btn::before,
#flat-select .detail-window .detail-flat__close-btn::before {
  transform: rotate(45deg);
}
#flat-select .detail-window .detail-window__close-btn::after,
#flat-select .detail-window .detail-flat__close-btn::after {
  transform: rotate(-45deg);
}
#flat-select .detail-window .scheme-wrap {
  position: relative;
  transition: all .3s ease-in;
  transform: translateY(-5%) scale(0.85);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
}
#flat-select .detail-window .scheme-wrap .floor-scheme-img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 720px;
  top: 50%;
  transform: translateY(-50%);
}
#flat-select .detail-window .scheme-wrap svg {
  position: relative;
  z-index: 1;
}
#flat-select .detail-window .scheme-wrap svg a {
  cursor: pointer;
}
#flat-select .detail-window .scheme-wrap svg a path {
  fill: transparent;
}
#flat-select .detail-window .scheme-wrap svg a.soldout:hover path {
  fill: rgba(255, 0, 0, 0.8);
}
#flat-select .detail-window .scheme-wrap svg a:hover:not(.soldout) path {
  stroke: #ffef00;
  opacity: 1;
  fill: rgba(255, 255, 255, 0.4);
  stroke-width: 3px;
}
#flat-select .detail-window .scheme-wrap .floor-item {
  position: absolute;
  width: 189px;
  height: 130px;
  display: block;
  background: url("/images/flat-hover.png") 0 0;
  opacity: 0;
  top: 129px;
  left: -3px;
}
#flat-select .detail-window .scheme-wrap .floor-item .tooltip {
  display: none;
  top: 0% !important;
  left: 25% !important;
}
#flat-select .detail-window .scheme-wrap .floor-item:hover {
  opacity: 1;
}
#flat-select .detail-window .scheme-wrap .floor-item:hover .tooltip {
  display: block;
}
#flat-select .detail-window .detail-flat {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -61%;
  background: #fbfaf1;
  z-index: 13;
}
#flat-select .detail-window .detail-flat .detail-flat__close-btn {
  top: 135px;
  right: 33%;
}
#flat-select .detail-window .detail-flat .flat-info {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 22%;
  padding: 85px 40px 40px 40px;
}
#flat-select .detail-window .detail-flat .flat-info .flat-info__content {
  display: none;
}
#flat-select .detail-window .detail-flat .flat-info .flat-info__head {
  height: 80px;
  padding-top: 40px;
  font-weight: 600;
  color: #4d3542;
  font-size: 18px;
}
#flat-select .detail-window .detail-flat .flat-info .flat-info__parameters {
  width: 100%;
  color: #877d82;
  font-size: 14px;
}
#flat-select .detail-window .detail-flat .flat-info .flat-info__parameters tr {
  border-bottom: solid 1px #e2e2e2;
}
#flat-select .detail-window .detail-flat .flat-info .flat-info__parameters tr td {
  padding: 10px 0;
}
#flat-select .detail-window .detail-flat .flat-info .flat-info__parameters tr:last-child {
  border-bottom: none;
}
#flat-select .detail-window .detail-flat .flat-info .flat-info__parameters .flat-info__value {
  font-weight: 600;
  color: #4d3542;
  text-align: right;
}
#flat-select .detail-window .detail-flat .flat-info .flat-info__bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #4d3542;
  font-weight: 600;
}
#flat-select .detail-window .detail-flat .flat-info .flat-info__price {
  font-size: 24px;
  margin-bottom: 30px;
}
#flat-select .detail-window .detail-flat .flat-scheme {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 48%;
  background: #FFF;
  text-align: center;
}
#flat-select .detail-window .detail-flat .flat-scheme .scheme-img {
  position: relative;
  max-width: 60%;
  max-height: 60vh;
  top: 50%;
  transform: translateY(-50%);
}
#flat-select .detail-window .floor-up-down {
  width: 138px;
  height: 100px;
  position: absolute;
  top: 50%;
  right: 30%;
  z-index: 15;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #4d3542;
  padding-top: 10px;
  transition: all .2s ease-in;
}
#flat-select .detail-window .floor-up-down .floor-value {
  font-size: 44px;
  line-height: 44px;
}
#flat-select .detail-window .floor-up-down .floor-arrow {
  display: block;
  width: 45px;
  height: 45px;
  background: #95b063;
  color: #FFF;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  left: -22px;
  top: 0;
}
#flat-select .detail-window .floor-up-down .floor-arrow[disabled] {
  opacity: 0.4;
}
#flat-select .detail-window .floor-up-down .floor-down {
  top: 55px;
}
#flat-select .detail-window .btn-show-floor {
  border-color: #95b063;
  text-transform: uppercase;
  font-size: 10px;
  color: #95b063;
  border-width: 1px;
  font-weight: 300;
  margin-left: 20px;
}
#flat-select .detail-window.flat-active {
  right: 0%;
}
#flat-select .detail-window.flat-active .floor-up-down {
  top: 100%;
}
#flat-select .detail-window.flat-active .detail-window__close-btn {
  top: -20px;
}
#flat-select .detail-window.flat-active .scheme-wrap {
  position: absolute;
  transform: scale(0.5);
  transform-origin: 0 20%;
  -webkit-transform-origin: 0 20%;
  -moz-transform-origin: 0 20%;
  -o-transform-origin: 0 20%;
  -ms-transform-origin: 0 20%;
}
#flat-select .detail-window.flat-active .scheme-wrap .floor-scheme-img {
  position: static;
  transform: none;
}
#flat-select .detail-window.flat-active .scheme-wrap svg {
  display: none;
}
#flat-select .detail-window.flat-active .detail-flat {
  right: -30%;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.07);
}
#flat-select .detail-window.flat-active .floor-mode {
  display: none;
}
#flat-select .detail-window.flat-active .flat-mode {
  display: block;
}
#flat-select .detail-window.flat-active .flat-info__content {
  display: block !important;
  height: 100%;
  position: relative;
}
#flat-select .flats-tabs {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
@media (max-width: 1024px) {
  #flat-select .flats-tabs {
    display: none;
  }
}
#flat-select .flats-tabs .container {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  #flat-select .flats-tabs .container {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
#flat-select .flats-tabs a {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  flex-grow: 1;
  background: #f8f7e7;
  color: #4d3542;
  font-weight: 500;
  text-decoration: none !important;
  position: relative;
  max-width: 260px;
}
@media (max-width: 768px) {
  #flat-select .flats-tabs a {
    width: 33.3%;
    flex-grow: 1;
  }
}
#flat-select .flats-tabs a.active {
  height: 70px;
  line-height: 70px;
  background: #FFF;
  bottom: 20px;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.07);
}
@media (max-width: 768px) {
  #flat-select .flats-tabs a.active {
    height: 50px;
    line-height: 50px;
    bottom: auto;
  }
}
#flat-select .flats-tabs a:hover {
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.07);
}
#flat-select .flat-list-container {
  width: 100%;
  height: 100%;
  background: url("/images/section-8-bg.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 125px;
}
#flat-select .flat-list-container h2 {
  color: #FFF;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
#flat-select .tabs-content .tab {
  display: none;
}
#flat-select .tabs-content .tab.active {
  display: block;
}
@media (max-width: 1024px) {
  #flat-select #tab-interactive {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  #flat-select #tab-list {
    display: block !important;
  }
}
#flat-select .flats-table {
  background: #FFF;
  color: #4d3542;
  font-weight: 500;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-bottom: 25px;
}
#flat-select .flats-table .table {
  margin-bottom: 0;
}
#flat-select .flats-table tr td:first-child,
#flat-select .flats-table tr td:last-child {
  width: 30px;
  border: none;
}
#flat-select .flats-table tr:nth-child(2) td {
  border-top: 1px solid #efeee3;
}
#flat-select .flats-table tr:hover td {
  background: #efeee3;
}
#flat-select .flats-table tr th:nth-child(2), #flat-select .flats-table tr td:nth-child(2) {
  width: 18%;
}
#flat-select .flats-table tr th:nth-child(3), #flat-select .flats-table tr td:nth-child(3) {
  width: 8.5%;
}
#flat-select .flats-table tr th:nth-child(4), #flat-select .flats-table tr td:nth-child(4) {
  width: 7.6%;
}
#flat-select .flats-table tr th:nth-child(5), #flat-select .flats-table tr td:nth-child(5) {
  width: 8.5%;
}
#flat-select .flats-table tr th:nth-child(6), #flat-select .flats-table tr td:nth-child(6) {
  width: 7%;
}
#flat-select .flats-table tr th:nth-child(7), #flat-select .flats-table tr td:nth-child(7) {
  width: 10.4%;
}
#flat-select .flats-table tr th:nth-child(8), #flat-select .flats-table tr td:nth-child(8) {
  width: 13.6%;
}
#flat-select .flats-table tr th:nth-child(9), #flat-select .flats-table tr td:nth-child(9) {
  width: 15.3%;
}
#flat-select .flats-table tr th:nth-child(10), #flat-select .flats-table tr td:nth-child(10) {
  width: 11.1%;
}
#flat-select .flats-table th {
  color: #877d82;
  font-size: 10px;
  font-weight: 400;
  border-top: 1px solid #efeee3;
  padding: 17px 10px;
  vertical-align: middle;
}
#flat-select .flats-table td {
  border-top: 1px solid #efeee3;
  padding: 1px 1px 1px 1px;
  padding: 7px 10px;
  vertical-align: middle;
}
@media (max-width: 1024px) {
  #flat-select .flats-table td {
    white-space: nowrap;
  }
}
#flat-select .flats-table .mob-table-header {
  display: none;
}
@media (max-width: 1024px) {
  #flat-select .flats-table .mob-table-header {
    display: table-row;
  }
}
#flat-select .flats-table .flat-sheme-btn {
  border: solid 1px #95b063;
  color: #95b063;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 3px;
}
#flat-select .flats-table .flat-sheme-btn:hover {
  background: #95b063;
  color: #FFF;
}
#flat-select .flats-table .flats-table__sort-icon {
  color: #95b063;
  font-size: 10px;
  margin-left: 2px;
  bottom: 2px;
  position: relative;
}
#flat-select .flats-table .scrollbar-inner {
  max-height: 300px;
}
@media (max-width: 1200px) {
  #flat-select .flats-table .scrollbar-inner {
    max-height: 245px;
  }
}
@media (max-width: 1024px) {
  #flat-select .flats-table .scrollbar-inner {
    max-height: none;
  }
}
#flat-select .flats-table .scrollbar-inner > .scroll-element.scroll-y {
  height: 98%;
  top: 2%;
  width: 2px;
  right: 5px;
}
#flat-select .flats-table .scrollbar-inner > .scroll-element.scroll-x {
  bottom: 0;
  height: 8px;
  left: 2%;
  width: 96%;
}
#flat-select .flats-table .scrollbar-inner > .scroll-element .scroll-element_track {
  background-color: #d7d5bd;
  opacity: 1;
}
#flat-select .flats-table .scrollbar-inner > .scroll-element .scroll-bar {
  background-color: #aea851;
  opacity: 1;
}
@media (max-width: 1024px) {
  #flat-select .flats-table .table-th {
    display: none;
  }
}
#flat-select .flats-table .flats-table__filters {
  background: #fbfaf1;
  padding: 20px 30px;
  max-height: 100px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  #flat-select .flats-table .flats-table__filters {
    max-height: 155px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) {
  #flat-select .flats-table .flats-table__filters {
    max-height: none;
    padding-bottom: 0;
  }
}
#flat-select .flats-table .flats-table__filters .filter-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  flex-grow: 1;
}
#flat-select .flats-table .flats-table__filters .filter-item .form-group {
  left: -10px;
}
#flat-select .flats-table .flats-table__filters .filter-item .form-group .radio {
  padding-left: 15px;
}
#flat-select .flats-table .flats-table__filters .filter-item label {
  text-transform: uppercase;
  font-size: 10px;
}
#flat-select .flats-table .flats-table__filters .filter-item.filter-item__price-range {
  width: 270px;
}
#flat-select .flats-table .flats-table__filters .filter-item.filter-item__area-range {
  width: 180px;
}
#flat-select .flats-table .flats-table__filters .filter-item.filter-item__floor-range {
  width: 130px;
}
#flat-select .flats-table .flats-table__filters .filter-item.filter-item__complex {
  width: 270px;
  margin-left: 0;
}
#flat-select .flats-table .flats-table__filters .filter-item.filter-item__rooms {
  width: 230px;
  margin-right: 0;
}
#flat-select .flats-table .flats-table__filters .filter-item .filter-item__value {
  margin-left: 10px;
  text-transform: none;
  font-size: 13px;
}
#flat-select .flats-table .flats-table__filters .rangeslider-min .irs-line-mid, #flat-select .flats-table .flats-table__filters .rangeslider-min .irs-line-left, #flat-select .flats-table .flats-table__filters .rangeslider-min .irs-line-right, #flat-select .flats-table .flats-table__filters .rangeslider-min .irs-bar, #flat-select .flats-table .flats-table__filters .rangeslider-min .irs-bar-edge, #flat-select .flats-table .flats-table__filters .rangeslider-min .irs-slider {
  background-image: url(/js/vendor/ion.rangeslider/img/sprite-skin-nice-min.png);
}
#flat-select .flats-table .flats-table__filters .rangeslider-min .irs-line-left, #flat-select .flats-table .flats-table__filters .rangeslider-min .irs-line-right {
  display: none;
}
#flat-select .flats-table .flats-table__filters .rangeslider-min .irs-line-mid {
  left: 2%;
  width: 96%;
  top: -1px;
}
#flat-select .flats-table .flats-table__filters .rangeslider-min > .irs {
  bottom: 16px;
}

#flat-select .flat-tooltip.tooltip--center {
  pointer-events: none;
  transform: translateY(-50%) translateX(-35%);
}

.corpus-svg-path {
  fill: #fff;
  opacity: 0;
  transition: opacity 0.5s;
}

.corpus-svg-link {
  display: block;
}

.corpus-svg-link:hover .corpus-svg-path {
    opacity: 0.3;
}

.corpus-svg-link-sold .corpus-svg-path {
  fill:rgb(255, 51, 51);
} 

.tab {
  overflow: hidden;
}

.tab-house {
  text-align: center;
}

#tab-interactive > .main-container > .img-wrapper {
  width: 100%;
  display: inline-block;
  margin-top: 85px; 
}

.corpus-svg {
  position: absolute;
  width: 83%;
  height: 100%;
  left: 10%;
  top: 0;
}

.corpus-buildings {
  max-width: 100%;
  height: auto;
}


.house {
  position: relative;
  display: inline-block;
  text-align: left;
}

.house__svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#corpus141-svg, #corpus60-svg, #corpus72-svg,
#corpus141-svg + img, #corpus60-svg + img, #corpus72-svg + img {
	transform: scale(0.8) translateY(-8%);
}

.house__svg path {
  opacity: 0;
  transition: opacity 0.5s;
}

.house__svg path:hover {
  opacity: 0.7;
}

.house-back {
  position: absolute;
  top: 110px;
  left: 60px;
  color: #4d3542;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
}
.house-back:focus {
  outline: none;
}
/*# sourceMappingURL=main.css.map */
