<template>
    <div class="flat-list-container">
        <div class="container">
            <h2>Выберите квартиру своей мечты</h2>
            <div class="flats-table">
                <div class="flats-table__filters">
                    <div class="filter-item filter-item__complex">
                        <div class="dropdown-wrapper">
                            <div class="ae-dropdown dropdown">
                                <div class="ae-select" @click="openSelect()">
                                    <label>Жилой комплекс</label>
                                    <span class="ae-select-content">{{address}}</span>
                                    <i class="material-icons down-icon"><i class="fas fa-chevron-down"></i></i>
                                </div>
                                <ul v-show="addressSelectOpened" class="dropdown-list">
                                    <li @click="changeAddress(addressValue)" 
                                        v-for="(addressValue,index) in addressSelectArray" 
                                        :key="index" 
                                        :class='{"selected": address === addressValue}'>
                                        <a>{{ addressValue }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="filter-item filter-item__price-range rangeslider-min">
                        <label>Цена <span class="filter-item__value"><span class="filter-item__from">{{ priceSlider.value[0].toLocaleString('ru') }}</span>&nbsp;&mdash;&nbsp;<span class="filter-item__to">{{ priceSlider.value[1].toLocaleString('ru') }}</span> руб.</span></label>
                        <vue-slider
                            v-if="apartments.length > 0" 
                            class="filter-item__slider"
                            :show="visible"
                            :min="minPrice" 
                            :max="maxPrice"
                            :bgStyle="slider.bgStyle"
                            :processStyle="slider.processStyle"
                            :sliderStyle="slider.sliderStyle"
                            :height="slider.height"
                            :dotSize="slider.dotSize" 
                            tooltip="never" 
                            v-model="priceSlider.value">
                        </vue-slider>
                    </div>
                    <div class="filter-item filter-item__area-range rangeslider-min">
                        <label>Площадь <span class="filter-item__value"><span class="filter-item__from">{{ areaSlider.value[0] }}</span>&nbsp;&mdash;&nbsp;<span class="filter-item__to">{{ areaSlider.value[1] }}</span> м<sup>2</sup>.</span></label>
                        <vue-slider 
                            v-if="apartments.length > 0"
                            class="filter-item__slider"
                            :show="visible"
                            :min="minArea" 
                            :max="maxArea"
                            :bgStyle="slider.bgStyle"
                            :processStyle="slider.processStyle"
                            :sliderStyle="slider.sliderStyle"
                            :height="slider.height"
                            :dotSize="slider.dotSize" 
                            tooltip="never" 
                            v-model="areaSlider.value">
                        </vue-slider>
                    </div>
                    <div class="filter-item filter-item__floor-range rangeslider-min">
                        <label>Этаж <span class="filter-item__value"><span class="filter-item__from">{{ floorSlider.value[0] }}</span>&nbsp;&mdash;&nbsp;<span class="filter-item__to">{{ floorSlider.value[1] }}</span></span></label>
                        <vue-slider 
                            v-if="apartments.length > 0"
                            class="filter-item__slider"
                            :show="visible"
                            :min="minFloor" 
                            :max="maxFloor"
                            :bgStyle="slider.bgStyle"
                            :processStyle="slider.processStyle"
                            :sliderStyle="slider.sliderStyle"
                            :height="slider.height"
                            :dotSize="slider.dotSize" 
                            tooltip="never" 
                            v-model="floorSlider.value">
                        </vue-slider>
                    </div>
                    <div class="filter-item filter-item__rooms">
                        <label>Количество комнат</label>
                        <div class="form-group">
                            <div  class="radio inline">
                                <input v-model="roomsSelect" id="filter_room_1" type="radio" value="1" name="filter_rooms">
                                <label for="filter_room_1">1</label>
                            </div>
                            <div  class="radio inline">
                                <input v-model="roomsSelect" id="filter_room_2" type="radio" value="2" name="filter_rooms">
                                <label for="filter_room_2">2</label>
                            </div>
                            <div class="radio inline">
                                <input v-model="roomsSelect" id="filter_room_3" type="radio" value="3" name="filter_rooms">
                                <label for="filter_room_3">3</label>
                            </div>
                            <div class="radio inline">
                                <input v-model="roomsSelect" id="filter_room_4" type="radio" value="4" name="filter_rooms">
                                <label for="filter_room_4">4</label>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-th">
                    <tr>
                        <th class="flats-table__head-cell"></th>

                        <th v-for="(column, index) in columns" :key="index" :class="{
                                'inverse': sorting.attribute === column.attribute && sorting.inverse, 
                                'flats-table__head-cell': true, 
                                'active': sorting.attribute === column.name, 
                                'sortable': column.sortable
                            }" @click="column.sortable ? sortBy('price') : void(0)">{{ column.label }} <i v-if="column.sortable" class="fas fa-sort-down flats-table__sort-icon"></i></th>
                        
                        <th></th>
                    </tr>
                </table>
                <div class="scrollbar-inner">
                    <Loader v-if="tableLoading" />
                    <table class="table">
                        <tr class=mob-table-header>
                            <th></th>
     
                            <th v-for="(column, index) in columns" :key="index" :class="{
                                'inverse': sorting.attribute === column.attribute && sorting.inverse, 
                                'flats-table__head-cell': true, 
                                'active': sorting.attribute === column.attribute, 
                                'sortable': column.sortable
                            }" @click="column.sortable ? sortBy(column.name) : void(0)">{{ column.label }} <i v-if="column.sortable" class="fas fa-sort-down flats-table__sort-icon"></i></th>

                            <th></th>
                        </tr>

                        <template v-if="filteredApartments.length > 0">
                            <tr :data-id="apartment.id" v-for="apartment in filteredApartments" :key="apartment.id">
                                <td></td>
                                <td>{{ apartment.acf.apartment_address }}</td>
                                <td>{{ apartment.acf.apartment_info.number }}</td>
                                <td>{{ apartment.acf.apartment_info.rooms }}</td>
                                <td>{{ apartment.acf.apartment_info.area }}</td>
                                <td>{{ apartment.acf.apartment_info.floor }}</td>
                                <td>{{ apartment.acf.apartment_info.price.toLocaleString('ru') }}</td>
                                <td>{{ apartment.acf.apartment_info.status }}</td>
                                <td>{{ apartment.acf.apartment_info.price_special.toLocaleString('ru') }}</td>
                                <td v-if="!isMobile"><a href="#" @click="showApartment(apartment.id)" class="btn btn-radius btn-small btn-transparent flat-sheme-btn">Смотреть</a></td>
                                <td></td>
                            </tr>
                        </template> 

                        <template v-else>
                            <tr key="notFound">
                                <td class="cell_not_found" colspan="11">Не найдено квартир отвечающим заданным критериям</td>
                            </tr>
                        </template>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import vueSlider from 'vue-slider-component'
import Loader from 'Components/Loader/Loader.vue'
import { EventBus } from 'Components/event-bus'
const $ = window.jQuery || window.$
const assetsUrl = window.wpPaths.assetsUrl 

export default {
    components: { vueSlider, Loader },
    props: {
        apartments: {
            type: Array,
            required: true
        },
        tableLoading: Boolean,
        isMobile: Boolean, 
        pages: [Number, String],
        visible: Boolean
    },
    mounted() {
        $('#flat-select .scrollbar-inner').scrollbar()
    },
    data() {
        const minPrice = Math.min(...this.apartments.map(ap => ap.acf.apartment_info.price))
        const maxPrice = Math.max(...this.apartments.map(ap => ap.acf.apartment_info.price))
        const minArea = Math.min(...this.apartments.map(ap => ap.acf.apartment_info.area))
        const maxArea = Math.max(...this.apartments.map(ap => ap.acf.apartment_info.area))
        const minFloor = Math.min(...this.apartments.map(ap => ap.acf.apartment_info.floor))
        const maxFloor = Math.max(...this.apartments.map(ap => ap.acf.apartment_info.floor))

        const state = {
            assetsUrl,
            columns: [
                {label: 'Дом', name: 'housing_name'},
                {label: 'Квартира', name: 'number'},
                {label: 'Комнат', name: 'rooms'},
                {label: 'Площадь', name: 'area'},
                {label: 'Этаж', name: 'floor'},
                {label: 'Стоимость', name: 'price', sortable: true},
                {label: 'Статус дома', name: 'status'},
                {label: 'Стоимость со скидкой', name: 'price_special'},
                {label: 'Планировка', name: 'plans'},
            ],
            slider: {
                height: 4,
                dotSize: 14,
                processStyle: {
                    'backgroundColor': '#AEA851',
                },
                bgStyle: {
                    'backgroundColor': '#D7D5BD',
                },
                sliderStyle: {
                    'boxShadow': 'none',
                    'border': '2px solid #fff',
                    'background': '#AEA851',
                    'outline': 'none'
                }
            },
            areaSlider: {
                value: [minArea, maxArea],
            },
            priceSlider: {
                value: [minPrice, maxPrice],
            },
            floorSlider: {
                value: [minFloor, maxFloor] 
            }, 
            roomsSelect: 1,
            sorting: {
                attribute: 'price',
                inverse: false 
            },
            address: 'ЖК Ленинский пр. к.1',
            addressSelectOpened: false 
        }

        if(this.isMobile) {
            state.columns = state.columns.slice(0,-1)     
        }

        return state
    },
    methods: {
        openSelect() {
            this.addressSelectOpened = true
        },
        closeSelect() {
            this.addressSelectOpened = false
        },
        changeAddress(address) {
            console.log(address)
            this.address = address
            this.closeSelect()
        },
        sortBy(attribute) {
            if(this.sorting.attribute === attribute) {
                this.sorting.inverse = !this.sorting.inverse
                return  
            }

            this.sorting.attribute = attribute 
            this.inverse = false 
        },
        resetFilters(options = {exclude: []}) {
            this.$set(this.priceSlider.value, 0, this.minPrice)
            this.$set(this.priceSlider.value, 1, this.maxPrice)

            this.$set(this.areaSlider.value, 0, this.minArea)  
            this.$set(this.areaSlider.value, 1, this.maxArea)

            this.$set(this.floorSlider.value, 0, this.minFloor)  
            this.$set(this.floorSlider.value, 1, this.maxFloor)

            if(options.exclude.indexOf['roomsSelect'] === -1) {
                this.roomsSelect = 0
            }
        },
        showApartment(id) {
            EventBus.$emit('showSingleApartment', id)
        }
    },
    watch: {
        apartments(newValue, oldValue) {
            this.resetFilters()
        }
    },
    computed: {
        minPrice() {
            return Math.min(...this.apartments.map(ap => ap.acf.apartment_info.price))
        },
        maxPrice() {
            return Math.max(...this.apartments.map(ap => ap.acf.apartment_info.price))
        },
        minArea() {
            return Math.min(...this.apartments.map(ap => ap.acf.apartment_info.area))
        }, 
        maxArea() {
            return Math.max(...this.apartments.map(ap => ap.acf.apartment_info.area))
        }, 
        maxFloor() {
            return Math.max(...this.apartments.map(ap => ap.acf.apartment_info.floor))
        }, 
        minFloor() {
            return Math.min(...this.apartments.map(ap => ap.acf.apartment_info.floor))
        }, 
        roomsSelectArray() {
            return this.apartments
                .map(ap => ap.acf.apartment_info.rooms)
                .filter((value,index,self) => {
                    return self.indexOf(value) === index
                })
                .sort((a,b) => {
                    return a - b
                })
        },
        addressSelectArray() {
            return this.apartments
                .map(ap => ap.acf.apartment_address)
                .filter((value,index,self) => {
                    return self.indexOf(value) === index
                })
                .sort((a,b) => {
                    return parseInt(a.replace(/\D/g,'')) - parseInt(b.replace(/\D/g,''))
                })
        },
        filteredApartments() {
            const result = this.apartments
                .filter(ap => {
                    const {price, rooms, area, floor} = ap.acf.apartment_info

                    const inPriceRange = +price <= this.priceSlider.value[1] && +price >= this.priceSlider.value[0]
                    const inRoomsRange = rooms == this.roomsSelect || +this.roomsSelect === 0
                    const inAreaRange = +area <= this.areaSlider.value[1] && +area >= this.areaSlider.value[0]
                    const inFloorRange = +floor <= this.floorSlider.value[1] && +floor >= this.floorSlider.value[0]
                    const selectedAddress = this.address === ap.acf.apartment_address

                    return inPriceRange && inAreaRange && inRoomsRange && selectedAddress && inFloorRange
                })
            
            if(this.sorting.attribute) {
                const { attribute, inverse } = this.sorting 
                result.sort((ap1, ap2) => {

                    if(!inverse) return ap1.acf.apartment_info[attribute] - ap2.acf.apartment_info[attribute] 
                    
                    return ap2.acf.apartment_info[attribute] - ap1.acf.apartment_info[attribute]
                })
            }

            return result 
        }
    },
}
</script>

<style lang="scss">
    #flat-select .flats-table .flats-table__filters .filter-item label {
        white-space: nowrap;
    }

    .filter-item__slider {
        margin-top: 2px;
    }

    .cell_not_found {
        margin-top: 15px;
        text-align: center;
        opacity: 0.6;
    }

    th.sortable {
        cursor: pointer;
    }

    .flats-table__head-cell {
        .flats-table__sort-icon {
            opacity: 0.4;
        }

        &.inverse {
            .flats-table__sort-icon {
                transform: scale(1, -1); 
            }
        }

        &.active {
            .flats-table__sort-icon {
                opacity: 1;
            }
        }
    }

    // #flat-select .detail-window .scheme-wrap .floor-scheme-img {
    //     max-width: 100%; 
    //     position: relative;
    //     top: 0;
    //     left: 0;
    //     transform: none;
    // }

    // .floor-scheme-wrap {
    //     position: relative;
    //     display: inline-block;
    //     max-width: 70%;
    // }

    // #flat-select .detail-window .scheme-wrap svg {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%; 
    //     height: 100%;
    // }

    // #flat-select .detail-window.flat-active .scheme-wrap {
    //     max-width: 75%;
    // }

</style>


