header{
	position: fixed;
	width: 100%;
	background-color: $page-background;
	height: $header-height;
	line-height: $header-height;
	padding-left: 25px;
	padding-right: 25px;
	z-index: 10;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);

	@media (max-width: $header-breakpoint-xs - 25px) {
		height: auto;
	}

	.header__logo-wrapper{
		width: 15%;
		margin-right: 2%;

		img{
			max-width: 100%;
			max-height: $header-height - 20;
		}
		@media (max-width: $header-breakpoint-xl) {
			width: 13%;
			margin-right: 0;
		}
		@media (max-width: $header-breakpoint-sm) {
			width: 40%;
		}
		@media (max-width: $header-breakpoint-xs) {
			width: 50%;
		}
	}

	.header__menu-wrapper{
		width: 55%;
		text-align:center;

		@media (max-width: $header-breakpoint-xl) {
			width: 71%;
		}
		@media (max-width: $header-breakpoint-sm) {
			width: 20%;
		}
		@media (max-width: $header-breakpoint-xs) {
			width: 50%;
			text-align: right;
		}

		.header__link {
			display: none;
			text-align: right;
			padding-bottom: 10px;
			margin-top: -20px;

			@media (max-width: $header-breakpoint-xs - 25px) {
				display: block;
			}
		}
	}

	.header__phone-btn{
		width: 25%;
		margin-left:3%;
		display: flex;
	    align-items: center;
	    justify-content: space-between;

		@media (max-width: $header-breakpoint-xl) {
			width: 15%;
			margin-left:1%;
		}
		@media (max-width: $header-breakpoint-lg) {
			justify-content: flex-end;
			width: 16%;
			margin-left:0;
		}
		@media (max-width: $header-breakpoint-sm) {
			width: 40%;
		}
		@media (max-width: $header-breakpoint-xs) {
			display:none;
		}
	}

	.header__phone{
		color: $font-color-brown;
		font-size: 16px;
		font-weight: 500;
		white-space: nowrap;

		&:hover{
			text-decoration: none;
		}

		@media (max-width: $header-breakpoint-xl) {
			font-size: 20px;
			span{
				display:none;
			}
		}
		@media (max-width: $header-breakpoint-lg) {
			display: none;
		}
	}

	.header__btn-wrapper {
		display: block;
		text-align: center;

		.btn {
			display: block;
		}
	}

	.header__link {
		margin-top: 5px;
		display: block;
		text-align: center;
		line-height: 1;
	}

}

footer{
	padding:50px 0;
	background:#FFF;
	position: absolute;
	z-index: 4;
	width: 100%;
	left: 0;
	bottom: 0;
	font-size: $font-size-small;
	color: $color-black;
	font-weight: 500;
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);

	.footer__phone{
		color: $color-black;
		font-size: 16px;
		text-decoration:none !important;
	}

	.footer__links-row{
		margin-top:10px;
	}

	.footer__menu{
		list-style:none;
		margin:0;
		padding:0;

		li{
			display:inline-block;
			margin-right:20px;
		}
	}
}

.menu{
	display: flex;
	list-style:none;
	margin:0;
	padding:0;
	justify-content:space-around;

	a{
		color:$font-color-brown;
		font-size: $font-size-small;
		font-weight: 500;

		&:hover{
			text-decoration: none;
			color: darken($color-brand, 10%);
		}
	}
	@media (max-width: $header-breakpoint-sm) {
		display:none;
	}
}
.menu-mob{
	height: 0;
	width: 100%;
	padding-top: 0;
	overflow:hidden;
	position: fixed;
	background: #FFF;
	z-index: 9;
    top: 0;
    left: 0;
    transition: all .3s ease-out;

    ul{
    	margin: 0 0 0 25px;
    	padding:0;
    	display: flex;
    	font-size: 28px;
    	flex-direction: column;
    	justify-content: space-around;
    	height: 100%;
    	list-style: none;
    }

    &.active{
    	height: 100vh;
    	padding-top: $header-height + 20;
    }
}
.header__menu-mob-trigger{
	display: none;
	@media (max-width: $header-breakpoint-sm) {
		display:inline;
	}
}

#fullpage > .section{
	padding-top: $header-height + 10;
}
@media (max-width: $header-breakpoint-lg) {
	.fp-section,
	.fp-slide,
	.fp-tableCell{
	    height: auto !important;
	}

	#fullpage > .section{
		padding-top: 30px;
	}
}

ul.benefits{
	list-style: none;
	margin-left:0;
	padding-left:0;

	li{
		background: url('/images/check-circle.png') 0 0 no-repeat;
		padding-left: 24px;
		padding-top: 2px;
		margin-bottom: 20px;
	}
}

.highlite-block{
	background-color:$color-highlite;
}

.form-container{
	color: $font-color-brown;
	background: $color-highlite;
	padding:70px;
	margin-bottom:60px;

	@media (max-width: $header-breakpoint-lg) {
		padding:30px;
	}
}
#callme .form-container, #complaint .form-container{
	margin-bottom: 0px;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}

.flowplayer-video {
	display: block;
}

.flowplayer-video video {
	width: 100%;
	display: block;
}

.modal {
	display: none; 
	max-width: 800px;
	padding:0;
}