#nav-burger {
	width: 30px;
	height: 30px;
	position: relative;
	margin: 20px auto;
	margin-top:32px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	@media (max-width: $header-breakpoint-xs) {
		margin-right:0;
	}
}

#nav-burger span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: $color-brand;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#nav-burger span:nth-child(1) {
  top: 0px;
}
#nav-burger span:nth-child(2),#nav-burger span:nth-child(3) {
  top: 8px;
}
#nav-burger span:nth-child(4) {
  top: 17px;
}
#nav-burger.open span:nth-child(1) {
  top: 17px;
  width: 0%;
  left: 50%;
}
#nav-burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-burger.open span:nth-child(4) {
  top: 17px;
  width: 0%;
  left: 50%;
}