#gallery{
	padding-top:0 !important;

	.img-holder{
		height:100vh;
		width: 100vw;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}

	.gallery-tabs{
		height: 50px;
		width: 100%;
		position:absolute;
		bottom:0;
		left:0;

		@media (max-width: $header-breakpoint-sm) {
			height: 100px;
		}

		.container{
			display:flex;
			
			@media (max-width: $header-breakpoint-sm) {
				max-width: 100%;
				flex-wrap:wrap;
			}
		}

		a{
			display:block;
			height:50px;
			line-height: 50px;
			text-align:center;
			flex-grow:1;
			background: $color-highlite;
			color: $font-color-brown;
			font-weight: 500;
			text-decoration:none !important;
			position:relative;

			@media (max-width: $header-breakpoint-sm) {
				width: 33.3%;
				flex-grow:1;
			}

			&.active{
				height:70px;
				line-height:70px;
				background: #FFF;
				bottom: 20px;
				box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.07);

				@media (max-width: $header-breakpoint-sm) {
					height:50px;
					line-height:50px;
					bottom: auto;
				}
			}

			&:hover{
				background: #FFF;
				box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.07);
			}
		}
	}

	.tabs-content{
		.tab{
			display:none;

			&.active{
				display: block;
			}
		}
	}

	.gallery-header{
		height: 70px;
		width: 100%;
		position:absolute;
		top: $header-height +20;
		left:0;

		@media (max-width: $header-breakpoint-lg) {
			top: 20px;
		}

		h2{
			color: #FFF;
			text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
		}

		.gallery-nav-toleft, .gallery-nav-toright{
			display:inline-block;
			width:50px;
			height:50px;
			border-radius: 50%;
			border: solid 2px #FFF;
			text-align:center;
			line-height:50px;
			color: #FFF !important;
			text-decoration:none !important;
			font-size: 23px;
			margin: 0 5px;
		}

		.gallery-nav-wrap{
			@media (max-width: 375px) {
				text-align: center;
			}
		}
		.request-btn{
			margin-right: 30px;
			height: 50px;
		    line-height: 32px;
		    border-radius: 25px;
		    vertical-align: top;

		    @media (max-width: $header-breakpoint-sm) {
		    	margin-right: 10px;
		    }
		    @media (max-width: 375px) {
		    	width: 100%;
		    	margin-bottom: 10px;
		    }

		    i{
		    	margin-right:5px;
		    }
		}
	}
}