@media (max-width: $header-breakpoint-lg) {
	#contacts{
		padding-top: 0 !important;
	}
}
#contacts-map{
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	z-index:3;
	overflow:hidden;
	@media (max-width: $header-breakpoint-lg) {
		position:static;
		min-height: 550px;
	}
}