#feedback-form{
	background: url('/images/section-3-bg.jpg');
	background-size: cover;
	background-position: center;
	color: #FFF;

	h2{
		color: #FFF;
		text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	}
	.lead{
		margin-top: 15px;
		margin-bottom: 40px;
		text-shadow: 0px 0px 1px rgba(0,0,0,0.8);
	}
}