#carousel{
	background: $color-highlite;
	padding: $header-height + 50 0 50px 0 !important;
	overflow: hidden;

	@media (max-width: $header-breakpoint-lg) {
		padding-top: 60px !important;
	}
	

	.carousel-container{
		.caption{
			background:#FFF;
			padding:30px;
			max-width: 460px;
			z-index: 1;
		    position: absolute;
		    top: -25px;
    		left: 35px;
    		color: $font-color-brown;
    		font-weight:500;
			box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.07);
			
			@media (max-width: $header-breakpoint-md) { 
				position: static;
				width: 100%;
				max-width: 100%;
			}

    		&.bottom{
				bottom: -25px;
				right: 67px;
				left:auto;
				top:auto;
				
				@media (max-width: $header-breakpoint-md) {
					position: static;
					// top: -25px;
					// left: 35px;
					// bottom: auto;
					// right: auto;
				}
			}

    		b{
				font-weight:600;
			}

			.carousel__toleft, .carousel__toright{
				position: absolute;
				display: block;
				width: 45px;
				height: 45px;
				border-radius: 50%;
				background-color: $color-brand;
				color: #FFF;
				text-align:center;
				line-height: 45px;
				top: 25px;
				right: 30px;
				outline: none;
			}
			.carousel__toleft{
				right: 83px;
			}
		}

		.caption__title{
			font-size:$font-size-lg;
			margin-bottom: 20px;
			
			@media (max-width: $header-breakpoint-xs) {
				padding-right: 100px;
			}
		}

		.slick-slide{
			position: relative;
			margin-left: 20px;
			margin-right: 20px;

			img {
				max-width: 100%;
				max-height: 80vh; 
				width: 100%;
				object-fit: cover;

				@media (min-width: $header-breakpoint-lg) {
					min-height: 80vh; 
				}

				// &.right {
				// 	margin-right: 0;
				// 	margin-left: auto;
				// }
			}
		}

		.slick-list{
			margin-left: -20px;
			margin-right: -20px;
			overflow: visible;
		}
	}
}