#about_complex{
	 position: relative;

	.highlite-block{
		width: 100%;
	    vertical-align: bottom;
	    position: absolute;
	    bottom: 0;
	    padding:35px 0;
	    color: #4d3542;
	    font-weight: 500;
	    font-size:12px;
	    @media (max-width: $header-breakpoint-lg) {
			position: static;
	    }

	    img{
	    	display:block;
	    	margin-bottom:15px;
		}

		.col{
			margin-top: 10px;
		}

		.row{
			margin-top: -10px;
		}
	}

	.about_complex__video{
		width: 45%;
		height: 100%;
		position: absolute;
		top:0;
		right:0;
		overflow:hidden;

		&:before{
			content:"";
			position: absolute;
			width: 100%;
			height: 100%;
			top:0;
			left:0;
			background: url('/images/section-2-bg.jpg') no-repeat center;
			background-size: cover;
			transition: transform .4s ease-out;
		}

		&:hover:before{
			transform: scale(1.05);
		}

		@media (max-width: $header-breakpoint-md) {
			width: 35%;
		}
		@media (max-width: $header-breakpoint-sm) {
			position: relative;
		    width: 100%;
		    height: 300px;
		    margin-bottom:30px;
		    margin-top:30px;
		}
	}

	.about_complex__video-inline{
		display: none;

		@media (max-width: $header-breakpoint-sm) {
			display:block;
		}
	}

	.about_complex__video-content{
		position: absolute;
		top:50%;
		left:50%;
		width:215px;
		height:165px;
		color: #FFF;
		margin-left:-108px;
		margin-top:-30px;
		text-align:center;
		font-size:12px;
		padding-top: 110px;

		@media (max-width: $header-breakpoint-sm) {
			margin-top: -65px;
		}
	}

	.about_complex__btn{
		position:absolute;
		top:0;
		left:50%;
		display:block;
		width:90px;
		height:90px;
		background: rgba(255,255,255,0.4);
		margin-left:-45px;
		text-align:center;
		border-radius: 50%;
		color: #FFF !important;
		line-height: 90px;
		font-size: 27px;
    	text-indent: 3px;
    	transition: transform .2s ease-out;
	}

	.about_complex__video:hover .about_complex__btn{
		transform: scale(1.1);
	}
	.about_complex__video .about_complex__btn i{
		transition: text-shadow .15s ease-out;
	}
	.about_complex__video:hover .about_complex__btn i{
		text-shadow: -2px 3px 3px rgba(0,0,0,0.2);
	}
}