#calc{
	background: url('/images/section-4-bg.jpg');
	background-size: cover;
	background-position: center;
	color: #FFF;

	@media (max-width: $header-breakpoint-lg) {
		padding-bottom: 30px;
	}

	h2{
		color: #FFF;
		text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	}

	.banks-list{
		margin: 20px 0 40px;
		align-items: center;
		justify-content: center;

		div{
			margin-top: 20px;
		}

		img{
			max-width: 100%;
			height: auto;
			opacity: 0.7;
			position: relative;
		}
	}

	.calc-wrapper{
		position:relative;
		background: $color-highlite;
		padding: 60px 60px 30px 60px;
		color: $font-color-brown;
		width: 80%;

		@media (max-width: $header-breakpoint-lg) {
			width: 100%;
			padding: 30px;
		}

		.calc-sliders{
			width: 65%;

			@media (max-width: $header-breakpoint-lg) {
				width: 100%;
			}
		}

		.calc-param{
			margin-bottom:20px;
		}

		.calc-value{
			color: $font-color-brown;
			font-size: 24px;
			font-weight: 500;
		}

		.calc-label{
			font-weight:500;

			.description{
				font-size: $font-size-small;
				color: $font-color-gray;
			}
		}

		.calc-result{
			background: #ffffff;
			padding: 60px;
			width: 365px;
			position:absolute;
			top:70px;
			right: -135px;
			text-align: center;
			box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.07); 

			.result{
				font-size: 32px;
				font-weight:600;
				margin: 10px 0 0 0;
			}

			@media (max-width: $header-breakpoint-lg) {
				position: relative;
				width: calc(100% + 60px);
				top: 30px;
    			left: -30px;
    			padding: 30px;
			}
		}
	}
}