#welcome{
	background: url('/images/section-1-bg.jpg');
	background-size: cover;
	background-position: center;
	color: #FFF;
	@media (max-width: $header-breakpoint-lg) {
		background-position: left center;
		padding-top: $header-height + 10 !important;
		padding-bottom:30px;
	}

	h1{
		text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	}
	.lead{
		margin-top: 15px;
		margin-bottom: 40px;
		text-shadow: 0px 0px 1px rgba(0,0,0,0.8);
	}

	.complex-name{
		font-size: $font-size-lg;
		line-height: $font-size-lg;
		font-weight:400;
		margin-bottom: 20%;
		margin-top: 5%;

		.complex-name__subname{
			font-size: $font-size-small;
			font-weight:300;
		}

		.complex-name__icon{
			float:left;
			margin-right: 27px;
			bottom: 10px;
    		position: relative;
		}
	}
}