#flats{
	background: url('/images/section-5-bg.jpg');
	background-size: cover;
	background-position: center;
	color: #FFF;

	@media (max-width: $header-breakpoint-lg) {
		padding-bottom: 30px;
	}

	h2{
		color: #FFF;
		text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	}

	.highlite-block{
		width: calc(100% - 70px);
		margin-left:35px;
	    vertical-align: bottom;
	    position: absolute;
	    bottom: 0;
	    padding:35px 0;
	    color: #4d3542;
	    font-weight: 500;
	    font-size:12px;
	    @media (max-width: $header-breakpoint-lg) {
	    	position: static;
	    }
	    @media (max-width: $header-breakpoint-xs) {
	    	padding-bottom: 10px;
		    width: auto;
		    margin-left: 15px;
		    margin-right: 15px;
	    }

	    img{
	    	display:block;
	    	margin-bottom:15px;

	    	@media (max-width: $header-breakpoint-sm) {
	    		float: left;
	    		margin-right: 10px;
	    	}
	    }
	}

	.benefits-wrap{
		width: calc(50% - 35px);
		background: #FFF;
		padding:45px;
		position: absolute;
	    bottom: 0;
	    right: 35px;
	    color: $font-color-gray;
	    z-index: 1;
	    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.07); 

	    @media (max-width: $header-breakpoint-lg) {
	    	position: static;
	    	width: 100%;
	    	margin-bottom:20px;
	    }
	}
}