#flat-select{
	padding-top:0 !important;

	.tabs-content{
		height: 100%;
		
		.tab{
			height: 100%;
		}
	}

	.main-container{
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		overflow:hidden;
	}

	.corpus1{
		position:absolute;
		width:135px;
		height:337px;
		/*background: url('/images/outline-corpus-1.png') 0 0;*/
		z-index: 1;
    	top: 227px;
    	left: 218px;

    	/*&:hover{
    		background: url('/images/outline-corpus-1_hover.png') 0 0;
    	}*/
	}

	.corpus2{
		position:absolute;
		width:143px;
		height:363px;
		/*background: url('/images/outline-corpus-2.png') 0 0;*/
		z-index: 1;
    	top: 200px;
    	left: 400px;

    	/*&:hover{
    		background: url('/images/outline-corpus-2_hover.png') 0 0;
    	}*/
	}

	.corpus3{
		position:absolute;
		width:155px;
		height:397px;
		/*background: url('/images/outline-corpus-3.png') 0 0;/*
		z-index: 1;
    	top: 173px;
    	left: 607px;

    	/*&:hover{
    		background: url('/images/outline-corpus-3_hover.png') 0 0;
    	}*/

    	.corpus3-fllor16{
    		display:block;
    		width: 146px;
    		height:23px;
    		position:absolute;
    		top: 154px;
    		left: 5px;
    		background: url('/images/floor-hover.png') 0 0;
    		opacity:0;

    		&:hover{
    			opacity:1;
    		}
    	}

    	.tooltip{
    		left:17px !important;
    	}
	}
	#corpus1-svg{
		overflow: hidden;
		position: absolute;
		left: 179px;
		top: 192px;
		height: 945px;
		width: 498px;
		transform: scale(0.45);
		transform-origin: 0 0;
		z-index: 3;

	    path{
	    	opacity:0 !important;
	    	transition: opacity .2s linear;

	    	&:hover{
	    		opacity:0.6 !important;
	    	}
	    }
	}
	#corpus2-svg{
		overflow: hidden;
	    position: absolute;
	    left: 358px;
		top: 159px;
		height: 945px;
		width: 498px;
	    transform: scale(0.48);
	    transform-origin: 0 0;
	    z-index: 2;

	    path{
	    	opacity:0 !important;
	    	transition: opacity .2s linear;

	    	&:hover{
	    		opacity:0.6 !important;
	    	}
	    }
	}
	#corpus3-svg{
		overflow: hidden;
	    position: absolute;
	    left: 560px;
		top: 129px;
		height: 945px;
		width: 498px;
	    transform: scale(0.53);
	    transform-origin: 0 0;
	    z-index:1;

	    path{
	    	opacity:0 !important;
	    	transition: opacity .2s linear;

	    	&:hover{
	    		opacity:0.6 !important;
	    	}
	    }
	}
	#corpus4-svg{
		overflow: hidden;
	    position: absolute;
	    left: 783px;
		top: 73px;
		height: 640px;
		width: 490px;
	    transform: scale(0.94);
	    transform-origin: 0 0;
	    z-index: 4;

	    path{
	    	opacity:0 !important;
	    	transition: opacity .2s linear;

	    	&:hover{
	    		opacity:0.6 !important;
	    	}
	    }
	}

	.corpus4{
		position:absolute;
		width:393px;
		height:470px;
		/*background: url('/images/outline-corpus-4.png') 0 0;*/
		z-index: 1;
    	top: 134px;
    	left: 826px;

    	/*&:hover{
    		background: url('/images/outline-corpus-4_hover.png') 0 0;
    	}*/
	}

	.tooltip{
		display:none;
		position:absolute;
		top:0;
		left:0;
		padding: 20px 25px;
		background:#FFF;
		font-size: $font-size-normal;
		color: $font-color-brown;
		font-weight:600;
		opacity: 1;
		z-index: 5;

		&:before{
			position:absolute;
			display:block;
			content:"";
			width: 0;
			height: 0;
			top: 60px;
		    left: 50%;
		    margin-left: -6px;
			border-style: solid;
			border-width: 6px 6px 0 6px;
			border-color: #ffffff transparent transparent transparent;
		}

		&.show{
			display: block;
		}
	}

	.flat-tooltip{
    	position:absolute;
    	top:0;
    	left:0;
    	padding: 20px 25px;
    	background:#FFF;
    	font-size: $font-size-normal;
    	color: $font-color-brown;
    	font-weight:600;
    	opacity: 1;
    	z-index: 15;
		box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
		transform: translateY(-100%);

    	&:before{
    		position:absolute;
    		display:block;
    		content:"";
    		width: 0;
    		height: 0;
    		top: 60px;
    	    left: 50%;
    	    margin-left: -6px;
    		border-style: solid;
    		border-width: 6px 6px 0 6px;
    		border-color: #ffffff transparent transparent transparent;
    	}

    	&.show{
    		display: block;
    		transform: translate(25%, -110%);
    	}
    }

	.detail-window{
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		right:-100%;
		background:#FFF;
		z-index: 12;
		padding-top: $header-height;
		padding-left:40px;
		transition: all .4s ease-in-out;

		@media (max-width: $header-breakpoint-lg) {
			display:none;
		}

		&.opened{
			right: -30%;
		}
		.floor-mode{
			display: block;
		}
		.flat-mode{
			display: none;
		}

		.detail-window__head{
			position:relative;
			height: 80px;
			padding-top: 40px;
			font-weight:600;
			font-size: $font-size-lg;
		}

		.detail-window__close-btn,
		.detail-flat__close-btn{
			display:block;
			width: 14px;
			height: 14px;
			position:absolute;
			right:35%;
			top:50px;
			z-index:15;
			transition: all .2s ease-in;

			&::before, &::after {
			    content: '';
			    position: absolute;
			    height: 2px;
			    height: 2px;
			    width: 100%;
			    top: 50%;
			    left: 0;
			    margin-top: -1px;
			    background: #c7bd2e;
		  	}
		  	&::before {
		    	transform: rotate(45deg);
		  	}
		  	&::after {
		    	transform: rotate(-45deg);
		  	}
		}

		.scheme-wrap{
			position:relative;
			transition: all .3s ease-in;
			transform: scale(0.7);
			transform-origin: 0 0;
			-webkit-transform-origin: 0 0;
		    -moz-transform-origin: 0 0;
		    -o-transform-origin: 0 0;
		    -ms-transform-origin: 0 0;

		    .floor-scheme-img{
				position:absolute;
				top:0;
				left:0;
				max-width: 720px;
				top: 50%;
				transform: translateY(-50%);
		    }

		    svg{
		    	position: relative;
				z-index: 1;

				a{
					cursor: pointer;
					
					path{
						fill: transparent;
					}

					&.soldout:hover path {
						fill: rgba(255,0,0,0.8);
					}

			    	&:hover:not(.soldout) path{
						stroke: #ffef00;
					    opacity: 1;
					    fill: rgba(255,255,255,0.4);
					    stroke-width: 3px;
			    	}
			    }
		    }

			.floor-item{
				position:absolute;
				width: 189px;
				height: 130px;
				display:block;
				background: url('/images/flat-hover.png') 0 0;
				opacity:0;
				top: 129px;
    			left: -3px;

    			.tooltip{
					display:none;
					top: 0% !important;
    				left: 25% !important;
				}

				&:hover{
					opacity:1;

					.tooltip{
						display:block;
					}
				}
			}
		}

		.detail-flat{
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			right:-61%;
			background:#fbfaf1;
			z-index: 13;

			.detail-flat__close-btn{
				top: 135px;
				right: 33%;
			}

			.flat-info{
				display: inline-block;
				vertical-align: top;
				height: 100%;
				width: 22%;
				padding: $header-height 40px 40px 40px;

				.flat-info__content{
					display: none;
				}

				.flat-info__head{
					height: 80px;
					padding-top: 40px;
					font-weight:600;
					color: $font-color-brown;
					font-size: $font-size-lg;
				}
				.flat-info__parameters{
					width: 100%;
					color: $font-color-gray;
					font-size: $font-size-normal;

					tr{
						border-bottom: solid 1px #e2e2e2;

						td{
							padding: 10px 0;
						}

						&:last-child{
							border-bottom:none;
						}
					}

					.flat-info__value{
						font-weight: 600;
						color: $font-color-brown;
						text-align: right;
					}
				}

				.flat-info__bottom{
					position: absolute;
				    width: 100%;
				    bottom: 0;
				    color: $font-color-brown;
				    font-weight: 600;
				}
				.flat-info__price{
					font-size: 24px;
					margin-bottom: 30px;
				}
			}
			.flat-scheme{
				display:inline-block;
				vertical-align:top;
				height:100%;
				width:48%;
				background: #FFF;
				text-align: center;

				.scheme-img{
					position: relative;
					max-width: 60%;
					max-height: 60vh;
				    top: 50%;
				    transform: translateY(-50%);
				}
			}
		}

		.floor-up-down{
			width:138px;
			height:100px;
			position:absolute;
			top:50%;
			right: 30%;
		    z-index: 15;
		    text-align:center;
		    font-weight:600;
		    font-size:$font-size-lg;
		    color: $font-color-brown;
		    padding-top: 10px;
		    transition: all .2s ease-in;

		    .floor-value{
		    	font-size:44px;
		    	line-height: 44px;
		    }

		    .floor-arrow{
		    	display:block;
		    	width:45px;
		    	height:45px;
		    	background: $color-brand;
		    	color: #FFF;
		    	line-height:45px;
		    	text-align:center;
		    	border-radius:50%;
		    	position:absolute;
		    	left:-22px;
				top:0;
				
				&[disabled] {
					opacity: 0.4; 
				}
		    }

		    .floor-down{
		    	top:55px;
		    }
		}

		.btn-show-floor{
			border-color: $color-brand;
			text-transform: uppercase;
			font-size: 10px;
			color: $color-brand;
			border-width: 1px;
    		font-weight: 300;
    		margin-left: 20px;
		}

		&.flat-active{
			right: 0%;

			.floor-up-down{
				top:100%;
			}
			.detail-window__close-btn{
				top:-20px;
			}
			.scheme-wrap {
			    position: absolute;
			    transform: scale(0.5);
		    	transform-origin: 0 20%;
		    	-webkit-transform-origin: 0 20%;
		        -moz-transform-origin: 0 20%;
		        -o-transform-origin: 0 20%;
		        -ms-transform-origin: 0 20%;

			    .floor-scheme-img{
					position: static;
					transform: none;
			    }
			    svg{
			    	display:none;
			    }
			}

			.detail-flat{
				right: -30%;
				box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.07);
			}

			.floor-mode{
				display: none;
			}
			.flat-mode{
				display: block;
			}

			.flat-info__content{
				display: block !important;
				height: 100%;
    			position: relative;
			}
		}
	}

	.flats-tabs{
		height: 50px;
		width: 100%;
		position:absolute;
		bottom:0;
		left:0;
		z-index: 2;

		@media (max-width: $header-breakpoint-lg) {
			display:none;
		}

		.container{
			display:flex;
			justify-content: center;
			
			@media (max-width: $header-breakpoint-sm) {
				max-width: 100%;
				flex-wrap:wrap;
			}
		}

		a{
			display:block;
			height:50px;
			line-height: 50px;
			text-align:center;
			flex-grow:1;
			background: $color-highlite;
			color: $font-color-brown;
			font-weight: 500;
			text-decoration:none !important;
			position:relative;
			max-width:260px;

			@media (max-width: $header-breakpoint-sm) {
				width: 33.3%;
				flex-grow:1;
			}

			&.active{
				height:70px;
				line-height:70px;
				background: #FFF;
				bottom: 20px;
				box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.07);

				@media (max-width: $header-breakpoint-sm) {
					height:50px;
					line-height:50px;
					bottom: auto;
				}
			}

			&:hover{
				background: #FFF;
				box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.07);
			}
		}
	}
	.flat-list-container{
		width:100%;
		height:100%;
		background: url('/images/section-8-bg.jpg');
		background-size: cover;
		background-position: center;
		padding-top: $header-height;

		h2{
			color: #FFF;
			text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
		}
	}
	.tabs-content{
		.tab{
			display:none;

			&.active{
				display: block;
			}
		}
	}
	#tab-interactive{
		@media (max-width: $header-breakpoint-lg) {
			display:none !important;
		}
	}
	#tab-list{
		@media (max-width: $header-breakpoint-lg) {
			display:block !important;
		}
	}

	.flats-table{
		background: #FFF;
		color:$font-color-brown;
		font-weight: 500;
		padding-bottom: 15px;
		margin-top: 20px;
		margin-bottom: 25px;

		.table{
			margin-bottom:0;
		}

		tr td:first-child,
		tr td:last-child{
			width:30px;
			border:none;
		}
		tr:nth-child(2) td{
			border-top: 1px solid #efeee3;
		}

		tr:hover td{
			background:#efeee3;
		}

		tr th:nth-child(2), tr td:nth-child(2){width:18%;}
		tr th:nth-child(3), tr td:nth-child(3){width:8.5%;}
		tr th:nth-child(4), tr td:nth-child(4){width:7.6%;}
		tr th:nth-child(5), tr td:nth-child(5){width:8.5%;}
		tr th:nth-child(6), tr td:nth-child(6){width:7%;}
		tr th:nth-child(7), tr td:nth-child(7){width:10.4%}
		tr th:nth-child(8), tr td:nth-child(8){width:13.6%}
		tr th:nth-child(9), tr td:nth-child(9){width:15.3%;}
		tr th:nth-child(10), tr td:nth-child(10){width:11.1%;}

		th{
			color: $font-color-gray;
			font-size: 10px;
			font-weight:400;
			border-top: 1px solid #efeee3;
			padding: 17px 10px;
    		vertical-align: middle;

		}

		td{
			border-top: 1px solid #efeee3;
			padding: 1px 1px 1px 1px;
			padding: 7px 10px;
    		vertical-align: middle;
    		@media (max-width: $header-breakpoint-lg) {
				white-space: nowrap;
			}
		}

		.mob-table-header{
			display:none;
			@media (max-width: $header-breakpoint-lg) {
				display: table-row;
			}
		}

		.flat-sheme-btn{
			border: solid 1px $color-brand;
			color: $color-brand;
			font-weight: 400;
			font-size: 10px;
			text-transform: uppercase;
			padding-top: 5px;
    		padding-bottom: 3px;

    		&:hover{
    			background: $color-brand;
    			color: #FFF;
    		}
		}

		.flats-table__sort-icon{
			color: $color-brand;
			font-size: 10px;
		    margin-left: 2px;
		    bottom: 2px;
		    position: relative;
		}

		.scrollbar-inner{
			max-height:300px;
			
			@media (max-width: 1200px) {
				max-height:245px;
			}
			@media (max-width: $header-breakpoint-lg) {
				max-height:none;
			}
		}
		.scrollbar-inner > .scroll-element.scroll-y{
			height: 98%;
			top: 2%;
			width: 2px;
			right: 5px;
		}
		.scrollbar-inner > .scroll-element.scroll-x{
			bottom: 0;
		    height: 8px;
		    left: 2%;
		    width: 96%;
		}
		.scrollbar-inner > .scroll-element .scroll-element_track{
			background-color: #d7d5bd;
			opacity: 1;
		}
		.scrollbar-inner > .scroll-element .scroll-bar{
			background-color: #aea851;
			opacity: 1;
		}

		.table-th{
			@media (max-width: $header-breakpoint-lg) {
				display: none;
			}
		}

		.flats-table__filters{
			background: #fbfaf1;
			padding:20px 30px;
			max-height: 100px;
			display: flex;
    		justify-content: space-between;


    		@media (max-width: 1200px) {
				max-height: 155px;
				flex-wrap:wrap;
				justify-content: flex-start;
			}
			@media (max-width: $header-breakpoint-lg) {
				max-height: none;
				padding-bottom:0;
			}

			.filter-item{
				display:inline-block;
				vertical-align:top;
				margin:0 10px;
				flex-grow: 1;

				.form-group{
					left:-10px;

					.radio{
						padding-left: 15px;
					}
				}

				label{
					text-transform: uppercase;
					font-size: 10px;
				}

				&.filter-item__price-range{
					width: 270px;
				}

				&.filter-item__area-range{
					width: 180px;
				}

				&.filter-item__floor-range{
					width: 130px;
				}

				&.filter-item__complex{
					width: 270px;
					margin-left: 0;
				}

				&.filter-item__rooms{
					width:230px;
					margin-right: 0;
				}

				.filter-item__value{
					margin-left: 10px;
					text-transform: none;
					font-size: 13px;
				}
			}

			.rangeslider-min{
				.irs-line-mid, .irs-line-left, .irs-line-right, .irs-bar, .irs-bar-edge, .irs-slider{
					background-image: url(/js/vendor/ion.rangeslider/img/sprite-skin-nice-min.png);
				}
				.irs-line-left, .irs-line-right{
					display:none;
				}
				.irs-line-mid{
					left: 2%;
					width: 96%;
				    top: -1px;
				}

				> .irs{
					bottom:16px;
				}
			}
		}
	}
}

#flat-select .flat-tooltip.tooltip--center {
	pointer-events: none;
	transform: translateY(-50%) translateX(-35%);
}

.corpus-svg-path {
	fill: #fff;
	opacity: 0;
	transition: opacity 0.5s;
}

.corpus-svg-link {
	display: block;
	&:hover {
		.corpus-svg-path {
			opacity: 0.3;
		}
	}
}

.corpus-svg-link-sold {
	.corpus-svg-path {
		fill :#000;
	}
}

.tab {
	overflow: hidden;
}

.tab-house {
	text-align: center;
}

.corpus-svg {
	margin-top: 70px;
	position: absolute;
	width: 83%;
	height: 99.5%;
	left: 10%;
	top: -5%;
}

.corpus-buildings {
	margin-top: 70px;
	max-width: 100%;
	height: auto;
}

.house {
	position: relative;
	display: inline-block;
	text-align: left;
}

.house__svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 25;

	path {
		opacity: 0;
		transition: opacity 0.5s;
		&:hover {
			opacity: 0.7;
		}
	}
}    

#corpus141-svg, #corpus60-svg, #corpus72-svg,
#corpus141-svg + img, #corpus60-svg + img, #corpus72-svg + img {
	transform: scale(0.8) translateY(-8%);
}

.house-back {
	position: absolute;
	top: 110px;
	left: 60px;
	color: #4d3542;
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	z-index: 3;
  }