#rewards{
	background: url('/images/section-6-bg.jpg');
	background-size: cover;
	@media (max-width: $header-breakpoint-lg) {
		padding-bottom: 30px;
	}

	h2{
		color: #FFF;
		text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	}

	.rewards-wrap{
		background: #FFF;
		width: 44%;
		height:100%;
		position: absolute;
		right:0;
		top:0;
		padding-top: $header-height;
		padding-bottom: 90px;

		@media (max-width: $header-breakpoint-lg) {
	    	position: static;
	    	width:100%;
	    	height:auto;
	    	padding-top:0;
	    	padding-bottom: 0;
	    }

		h3{
			height: 65px;
			line-height: 65px;
			padding: 0 40px;
			font-size: $font-size-lg;
			color: $font-color-brown;
			border-bottom: solid 1px #efeee3;
		}

		.bottom-line{
			position: absolute;
			width:100%;
			background: $color-highlite;
			bottom: 0;
			left:0;
			padding: 30px 40px;
			color: $font-color-brown;
			font-weight: 500;

			@media (max-width: $header-breakpoint-lg) {
				position: static;
			}
		}
	}

	.docs-list{
		list-style: none;
		margin:0;
		padding:0;

		li{
			padding:40px;
			position:relative;

			&:after{
				display:block;
				height:1px;
				width: calc(100% - 80px);
				content: "";
				background: #efeee4;
				position:absolute;
				bottom:0;
				left:40px;
			}

			&:last-child:after{
				display:none;
			}
		}

		.docs-list__preview{
			float:left;
			border-right: solid 2px #FFF;
			border-bottom: solid 2px #FFF;
			margin-right:28px;
			margin-bottom:28px;
			box-shadow: 2px 2px 0px #aea851;
		}
	}
}