body{
	background: $page-background;
	color: $font-color-gray;
	font-family: $page-font-family;
	font-size: $font-size-normal;

	&.fixed{
		overflow: hidden !important;
	}
}
a{
	transition: color .2s ease-in;
	color: $color-brand;

	&:hover{
		color: darken($color-brand, 20%);
	}
}
::selection {
  background: $color-brand;
}
::-moz-selection {
  background: $color-brand;
}

h2{
	color: $font-color-brown;
	font-weight:600;
	font-size: 40px;

	@media (max-width: $header-breakpoint-xs) {
		font-size: 30px;
	}
}
b{
	color: $font-color-brown;
	font-weight:500;
}