.dropdown-wrapper{
  width:100%;
}
.ae-dropdown{
    position: relative;
    z-index: 10;
    height: 60px;
    margin-bottom: 10px;
}
.dropdown-wrapper .ae-select {
    padding: 8px;
    padding-top: 25px;
    position: relative;
    border: none;
    height: 60px;
    background: #FFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);
}

.dropdown-wrapper .ae-select.chosen {
    color: #333;
}

.dropdown-wrapper .ae-select label{
    position: absolute;
    top: 8px;
    left: 8px;
}

.dropdown-wrapper .ae-select .down-icon, .ae-select .up-icon {
    position: absolute;
    right: 10px;
    top: 25px;
    color: #aea851;
}

.dropdown-wrapper .ae-dropdown .dropdown-list {
    list-style-type: none;
    background: #FFFFFF;
    border-radius: 0px;
    margin:0px;
    padding:0;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);
  
    li{
      padding:10px;

      &:hover{
        background: #fbfaf1;
      }
    }
}

.dropdown-wrapper .ae-dropdown .ae-select, .dropdown-wrapper .ae-dropdown .dropdown-list>li {
    cursor: pointer;
}

.dropdown-wrapper .ae-dropdown .dropdown-list>li>a:focus, .dropdown-wrapper .ae-dropdown .dropdown-list>li>a:hover {
    background: none;
}

.dropdown-wrapper .ae-disabled{
    pointer-events: none;
}

.ae-hide{
  display:none;
}