$page-background: #ffffff;
$font-color-gray: #877d82;
$font-color-brown: #4d3542;
$page-font-family: 'Montserrat', sans-serif;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-lg: 18px;

$color-brand: #95b063;
$color-highlite: #f8f7e7;
$color-black: #4d3542;

/* HEADER */
$header-height: 85px;
$header-breakpoint-xl: 1270px;
$header-breakpoint-lg: 1024px;
$header-breakpoint-md: 990px;
$header-breakpoint-sm: 768px;
$header-breakpoint-xs: 425px;